h2 {
  padding: 1%;
  margin: 1%;
}

ul {
  margin: 1%;
  padding: 1%;
}
.eduMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-template-rows: auto;
}

.eduLeft {
  grid-column: span(0,1);
  border: solid 1px white;
 margin-left: 10em;
}

.eduRight {
  grid-column: span(2,3);
  border: solid 1px white;
  margin-right: 10em;
}

.sexy_line {
  grid-column: span(2);
  height: 40em;
  margin-top: 1.5em;
  margin-left: 20em;
  border: none;
  color: black;
  width: 1px;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    200,
    from(rgb(30, 56, 66)),
    to(rgb(253, 253, 253)),
    color-stop(50%, rgb(19, 66, 105))
  );
}