h1 {
  margin: 0.5%;
  padding: 0.5%;
}

.eduMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-template-rows: auto;
}

.eduLeft {
  grid-column: span(0, 1);
  text-align: center;
  margin-left: 10em;
}

.eduRight {
  grid-column: span(2, 3);
  text-align: center;
  margin-right: 10em;
}
