.timeLine {
  height: 100%;
  text-align: left;
  padding: 1em;
}
.propsContainer {
  padding: 0.5em;
}
.timeLine ul:before {
  content: "";
  width: 1px;
  position: absolute;
}
.timeLine ul li {
  position: relative;
  margin-left: 0px;
  padding: 20px;
  width: 400px;
  list-style: none;
}
.timeLine ul li:not(:first-child) {
  margin-top: 60px;
}
.timeLine ul li > span {
  width: 2px;
  height: 100%;
  background: #bdc3c7;
  left: -10px;
  top: 0;
  position: absolute;
}
.timeLine ul li > span:before,
.timeLine ul li > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #2c3e50;
  left: -5px;
  top: 0px;
}
.timeLine ul li span:after {
  top: 100%;
}

.timeLine div .title,
.timeLine div .type {
  font-weight: 600;
  font-size: 12px;
}

.timeLine span.number span {
  position: absolute;
  font-size: 10px;
  left: 15px;
  font-weight: bold;
  width: 70px;
  color: black;
}
.timeLine span.number span:first-child {
  top: 0;
}
.timeLine span.number span:last-child {
  top: 100%;
}
