.menu_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
}

.loggedAs {
  width: 10%;
  display: flex;
  margin-left: 89%;
}

.loggedAsuserName {
  margin: 0 0.25rem;
}

.loggedAsavatar {
  margin: 0.5rem 0.25rem;
}

.nextPreviousButtons {
  width: 8%;
  text-align: center;
  margin: 1% auto;
}

.nextButton {
  margin: 0.5em;
  display: inline-block;
}

.previousButton {
  margin: 0.5em;
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
